{% extends 'blog/base.html' %}

{% block body_block %}
  <div class="jumbotron">
    <h2>Please Login:</h2>
    <h3>(Must be Super User: Check with site admin)</h3>

    {% if form.errors %}
      <p>Invalid UserName or Password</p>
    {% endif %}

    <form  action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn=primary"  value="Login">
      <input type="hidden" name="text" value="{{next}}">
    </form>

  </div>
{% endblock %}
